<footer class="bg-white dark:bg-gray-900">
    <div class="container mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
        <div class="grid gap-8 sm:gap-6 sm:grid-cols-3">
            <div class="px-4 flex items-center">
                <div>
                <a href="#">
                    <img src="./assets/img/logotynbiz09.png" alt="Tynbiz Logo" />
                </a>
                <p class="text-lg text-gray-700 mt-5">
                    {{ 'footer.description' | translate }}
                </p>
            </div>
            </div>
            <div class="px-4">
                <h4 class="mt-12 mb-6 text-sm font-bold text-gray-700">
                  {{ 'footer.contact.title' | translate }}
                </h4>
                <div class="flex my-7 items-center space-x-3 rtl:space-x-reverse">
                    <a href="#">

                        <button type="button" class="btn-icon focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center  ">
                            <svg aria-hidden="true " width="24" height="24" aria-hidden="true" focusable="false" data-prefix="fas"
                            data-icon="phone-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                            data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M497.39 361.8l-112-48a24 24 0 0 0-28 6.9l-49.6 60.6A370.66 370.66 0 0 1 130.6 204.11l60.6-49.6a23.94 23.94 0 0 0 6.9-28l-48-112A24.16 24.16 0 0 0 122.6.61l-104 24A24 24 0 0 0 0 48c0 256.5 207.9 464 464 464a24 24 0 0 0 23.4-18.6l24-104a24.29 24.29 0 0 0-14.01-27.6z">
                            </path>
                        </svg>
                        </button>
                    </a>
                    <p class="text-lg text-gray-700 ml-2">+51 962-876-988</p>
                </div>
                <div class="flex my-7 items-center space-x-3 rtl:space-x-reverse">
                    <a href="#">
                        <button type="button" class="btn-icon focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center  ">
                            <svg aria-hidden="true " width="24" height="24" aria-hidden="true" focusable="false" data-prefix="fas"
                            data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
                            data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z">
                            </path>
                        </svg>
                        </button>
                    </a>
                    <p class="text-lg text-gray-700 ml-2">tynbiz&#64;tynbiz.com</p>
                </div>
                <div class="flex my-7 items-center space-x-3 rtl:space-x-reverse">
                    <a href="#">
                        <button type="button" class="btn-icon focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center  ">
                            <svg aria-hidden="true " width="24" height="24" aria-hidden="true" focusable="false" data-prefix="fas"
                            data-icon="map-marker-alt" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 384 512" data-fa-i2svg="">
                            <path fill="currentColor"
                                d="M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z">
                            </path>
                        </svg>
                        </button>
                    </a>
                    <p class="text-lg text-gray-700">Ayacuho, Perú</p>
                </div>
            </div>
            <div class="px-4">
                <h4 class="mt-12 mb-6 text-sm font-bold text-gray-700 ml-2">
                    {{ 'footer.social_media.title' | translate }}
                </h4>
                <div class="flex mt-4 sm:mt-0">
                    <a href="#"  class="mb-9 mr-5 w-10 h-10" >
                        <button type="button" class="btn-icon focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center  ">
                            <svg  aria-hidden="true " width="24" height="24"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 8 19">
                            <path fill-rule="evenodd"
                                d="M6.135 3H8V0H6.135a4.147 4.147 0 0 0-4.142 4.142V6H0v3h2v9.938h3V9h2.021l.592-3H5V3.591A.6.6 0 0 1 5.592 3h.543Z"
                                clip-rule="evenodd" />
                        </svg>
                            <span class="sr-only">Icon description</span>
                        </button>
                    </a>
                    <a href="#"  class="mb-9 mr-5 w-10 h-10">
                        <button type="button" class="btn-icon  focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center  ">
                            <svg  aria-hidden="true " width="24" height="24"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 20 17">
                            <path fill-rule="evenodd"
                                d="M20 1.892a8.178 8.178 0 0 1-2.355.635 4.074 4.074 0 0 0 1.8-2.235 8.344 8.344 0 0 1-2.605.98A4.13 4.13 0 0 0 13.85 0a4.068 4.068 0 0 0-4.1 4.038 4 4 0 0 0 .105.919A11.705 11.705 0 0 1 1.4.734a4.006 4.006 0 0 0 1.268 5.392 4.165 4.165 0 0 1-1.859-.5v.05A4.057 4.057 0 0 0 4.1 9.635a4.19 4.19 0 0 1-1.856.07 4.108 4.108 0 0 0 3.831 2.807A8.36 8.36 0 0 1 0 14.184 11.732 11.732 0 0 0 6.291 16 11.502 11.502 0 0 0 17.964 4.5c0-.177 0-.35-.012-.523A8.143 8.143 0 0 0 20 1.892Z"
                                clip-rule="evenodd" />
                        </svg>
                            <span class="sr-only">Icon description</span>
                        </button>

                    </a>
                    <a href="#"  class="mb-9 mr-5 w-10 h-10">
                        <button type="button" class="btn-icon focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center  ">
                            <svg  aria-hidden="true " width="24" height="24"
                            xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 24 24">
                            <path fill-rule="evenodd"
                                d="M12.51 8.796v1.697a3.738 3.738 0 0 1 3.288-1.684c3.455 0 4.202 2.16 4.202 4.97V19.5h-3.2v-5.072c0-1.21-.244-2.766-2.128-2.766-1.827 0-2.139 1.317-2.139 2.676V19.5h-3.19V8.796h3.168ZM7.2 6.106a1.61 1.61 0 0 1-.988 1.483 1.595 1.595 0 0 1-1.743-.348A1.607 1.607 0 0 1 5.6 4.5a1.601 1.601 0 0 1 1.6 1.606Z"
                                clip-rule="evenodd" />
                            <path d="M7.2 8.809H4V19.5h3.2V8.809Z" />
                        </svg>
                            <span class="sr-only">Icon description</span>
                        </button>
                    </a>

                    <a href="#" class="mb-9 mr-5 w-10 h-10">
                        <button type="button" class="btn-icon hover:bg-blue-700 hover:text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-full text-sm p-2.5 text-center inline-flex items-center  ">
                            <svg  aria-hidden="true " width="24" height="24"
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24">
                            <path fill="currentColor" fill-rule="evenodd"
                                d="M3 8a5 5 0 0 1 5-5h8a5 5 0 0 1 5 5v8a5 5 0 0 1-5 5H8a5 5 0 0 1-5-5V8Zm5-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V8a3 3 0 0 0-3-3H8Zm7.597 2.214a1 1 0 0 1 1-1h.01a1 1 0 1 1 0 2h-.01a1 1 0 0 1-1-1ZM12 9a3 3 0 1 0 0 6 3 3 0 0 0 0-6Zm-5 3a5 5 0 1 1 10 0 5 5 0 0 1-10 0Z"
                                clip-rule="evenodd" />
                        </svg>
                            <span class="sr-only">Icon description</span>
                        </button>
                    </a>



                </div>
                <h4 class="mt-12 mb-6 text-sm font-bold text-gray-700">
                    {{ 'footer.apply.title' | translate }}
                </h4>

                <a href="#" class="btn-primary rounded-lg px-5 py-2.5">{{ 'footer.apply.button' | translate }}</a>

            </div>
        </div>
        <hr class="my-6 border-gray-200 sm:mx-auto dark:border-gray-700 lg:my-8" />
        <div class="justify-center flex">
                <span class="text-sm text-gray-500 ">
                    <a href="_" class="hover:underline text-secundario font-bold">Tynbis</a> 2025 © Todos los derechos reservados.
                </span>
        </div>
    </div>
</footer>

