<p>about works!</p>
<section>
  <div class="container pt-28">
    <div class="my-10 text-center px-10 mx-auto max-w-screen-xl">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none">
        Sobre nosotros
      </h1>
      <p class="mb-6 text-lg text-gray-500 lg:mb-8 ">
        Trabajando en proyecto tynbiz para su pronto lanzamiento. Fuimos participantes en el primer Concurso de Startup UNSCH y fuimos ganadores de 3er lugar.
      </p>
      <img src="./assets/22.jpg" alt="">
    </div>
  </div>

</section>
<section class=" bg-fondo3">
  <div class="container py-28">
    <div class="flex-wrap items-center grid lg:grid-cols-12">
      <div class=" col-span-6">
        <div class="my-10 px-10 mx-auto max-w-screen-xl">
          <h6 class="uppercase text-primary font-bold mb-2">
            Como empezó
          </h6>
          <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none">
            NUESTRA HISTORIA
          </h1>
          <p class="mb-6 text-lg text-gray-500 lg:mb-8 ">
            En 2020, en la ciudad de Ayacucho, un grupo de jóvenes emprendedores comenzó desarrollando sistemas básicos. Con pocos recursos pero con gran compromiso, ayudaron a algunos negocios. Durante esos primeros años, ganaron experiencia directa con las necesidades reales de los pequeños negocios. A mediados de 2023, tras observar una tendencia creciente hacia el comercio electrónico, identificaron un problema común en muchas tiendas online: la atención al cliente era lenta, desorganizada o inexistente. Fue así como nació la idea de crear una plataforma Tynbiz que está en desarrollo. El Startup Tynbiz resolverá una necesidad grande de los consumidores online de manera mas interactiva para una compra mas decidida.
          </p>
        </div>
      </div>
      <div class=" col-span-6">
        <div class="my-10 px-10 mx-auto max-w-screen-xl">
          <img src="./assets/11.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
