<h3 class="text-3xl font-bold">Datos tienda online</h3>
<form
  class="mt-5"
  autocomplete="off"
  [formGroup]="myForm"
  (ngSubmit)="onSave()"
>
  <!-- name -->
  <div class="mb-6">
    <label
      for="businessName"
      class="block mb-2 text-sm font-medium"
      [ngClass]="{
        ' text-red-700 dark:text-red-500': formUtils.isValiedField(
          myForm,
          'businessName'
        ),
      }"
      >Nombre de la empresa *</label
    >
    <input
      type="text"
      id="businessName"
      formControlName="businessName"
      class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary"
      [ngClass]="{
        ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
          formUtils.isValiedField(myForm, 'businessName'),
      }"
    />
    @if (formUtils.isValiedField(myForm, "businessName")) {
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "businessName")
        }}</span>
      </p>
    }
  </div>
  <div class="mb-6">
    <label
      for="ruc"
      class="block mb-2 text-sm font-medium"
      [ngClass]="{
        ' text-red-700 dark:text-red-500': formUtils.isValiedField(
          myForm,
          'ruc'
        ),
      }"
      >RUC *</label
    >
    <input
      type="number"
      id="ruc"
      formControlName="ruc"
      class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary"
      [ngClass]="{
        ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
          formUtils.isValiedField(myForm, 'ruc'),
      }"
    />
    @if (formUtils.isValiedField(myForm, "ruc")) {
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "ruc")
        }}</span>
      </p>
    }
  </div>
  <div class="mb-6">
    <label
      for="storeName"
      class="block mb-2 text-sm font-medium"
      [ngClass]="{
        ' text-red-700 dark:text-red-500': formUtils.isValiedField(
          myForm,
          'storeName'
        ),
      }"
      >Nombre de la tienda online *</label
    >
    <input
      type="text"
      id="storeName"
      formControlName="storeName"
      class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary"
      [ngClass]="{
        ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
          formUtils.isValiedField(myForm, 'storeName'),
      }"
    />
    @if (formUtils.isValiedField(myForm, "storeName")) {
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "storeName")
        }}</span>
      </p>
    }
  </div>
  <div class="mb-6">
    <label
      for="storeUrl"
      class="block mb-2 text-sm font-medium"
      [ngClass]="{
        ' text-red-700 dark:text-red-500': formUtils.isValiedField(
          myForm,
          'storeUrl'
        ),
      }"
      >Enlace de la tienda *</label
    >
    <input
      type="text"
      id="storeUrl"
      formControlName="storeUrl"
      class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary"
      [ngClass]="{
        ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
          formUtils.isValiedField(myForm, 'storeUrl'),
      }"
    />
    @if (formUtils.isValiedField(myForm, "storeUrl")) {
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "storeUrl")
        }}</span>
      </p>
    }
  </div>
  <div class="mb-6">
    <div class="grid grid-cols-3 gap-4">
      <div>
        <label
          for="departaments"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Departamento *</label
        >
        @if (departamentos().length > 2) {
          <select
            id="departaments"
            #departament
            (change)="handlerDepartamento($event.target)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected disabled>Seleccione</option>
            @for (dep of departamentos(); track $index) {
              <option [value]="dep">{{ dep }}</option>
            }
          </select>
        }
      </div>
      <div>
        <label
          for="provincs"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Provincia *</label
        >
        @if (provincias().length > 2) {
          <select
            id="provincs"
            #provincia
            (change)="handlerProvincia($event.target)"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected disabled>Seleccione</option>
            @for (prov of provincias(); track $index) {
              <option [value]="prov">{{ prov }}</option>
            }
          </select>
        }
      </div>
      <div>
        <label
          for="distrit"
          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
          >Distrito *</label
        >
        @if (distritos().length) {
          <select
            id="distrit"
            formControlName="ubigeoId"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option selected disabled>Seleccione</option>
            @for (dist of distritos(); track $index) {
              <option [value]="dist.ubigeoId">{{ dist.distrito }}</option>
            }
          </select>
        }
      </div>
    </div>
  </div>
  <div class="mb-6">
    <label
      for="address"
      class="block mb-2 text-sm font-medium"
      [ngClass]="{
        ' text-red-700 dark:text-red-500': formUtils.isValiedField(
          myForm,
          'address'
        ),
      }"
      >Dirección</label
    >
    <input
      type="text"
      id="address"
      formControlName="address"
      class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary"
      [ngClass]="{
        ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
          formUtils.isValiedField(myForm, 'address'),
      }"
    />
    @if (formUtils.isValiedField(myForm, "address")) {
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "address")
        }}</span>
      </p>
    }
  </div>
  <div class="mb-6">
    <label
      for="storeCategory"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Categoría de la tienda *</label
    >
    <select
      id="storeCategory"
      formControlName="storeCategory"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
      <option selected disabled>Seleccione</option>
      @for (cat of listCategory(); track $index) {
        <option [value]="cat.value">{{ cat.label }}</option>
      }
    </select>
  </div>
    <div class="mb-6">
    <label
      for="planId"
      class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
      >Plan *</label
    >
    <select
      id="planId"
      formControlName="planId"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    >
      <option selected disabled>Seleccione</option>
      @for (cat of listPlans(); track $index) {
        <option [value]="cat.id">{{ cat.name }}</option>
      }
    </select>
  </div>
  <!-- <div class="mb-6">
    <label
      for="categoriOnlineStoreOther"
      class="block mb-2 text-sm font-medium"
      [ngClass]="{
        ' text-red-700 dark:text-red-500': formUtils.isValiedField(
          myForm,
          'categoriOnlineStoreOther'
        ),
      }"
      >Otra categoría</label
    >
    <input
      type="text"
      id="categoriOnlineStoreOther"
      formControlName="categoriOnlineStoreOther"
      class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary"
      [ngClass]="{
        ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
          formUtils.isValiedField(myForm, 'categoriOnlineStoreOther'),
      }"
    />
    @if (formUtils.isValiedField(myForm, "categoriOnlineStoreOther")) {
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "categoriOnlineStoreOther")
        }}</span>
      </p>
    }
  </div> -->
  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <!-- businessEmail -->
    <div>
      <label
        for="businessEmail"
        class="block mb-2 text-sm font-medium"
        [ngClass]="{
          ' text-red-700 dark:text-red-500': formUtils.isValiedField(
            myForm,
            'businessEmail'
          ),
        }"
        >Correo electronico</label
      >
      <input
        type="text"
        id="businessEmail"
        formControlName="businessEmail"
        class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary"
        [ngClass]="{
          ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
            formUtils.isValiedField(myForm, 'businessEmail'),
        }"
      />
      @if (formUtils.isValiedField(myForm, "businessEmail")) {
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          <span class="font-medium">{{
            formUtils.getFieldError(myForm, "businessEmail")
          }}</span>
        </p>
      }
    </div>
    <div>
      <label
        for="businessPhone"
        class="block mb-2 text-sm font-medium"
        [ngClass]="{
          ' text-red-700 dark:text-red-500': formUtils.isValiedField(
            myForm,
            'businessPhone'
          ),
        }"
        >N° celular</label
      >
      <input
        type="text"
        id="businessPhone"
        formControlName="businessPhone"
        class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary"
        [ngClass]="{
          ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
            formUtils.isValiedField(myForm, 'businessPhone'),
        }"
      />
      @if (formUtils.isValiedField(myForm, "businessPhone")) {
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          <span class="font-medium">{{
            formUtils.getFieldError(myForm, "businessPhone")
          }}</span>
        </p>
      }
    </div>
  </div>
  <h3 class="text-2xl font-bold py-4">Datos del representante tienda online</h3>
  <div class="mb-6">
    <label
      for="firstName"
      class="block mb-2 text-sm font-medium"
      [ngClass]="{
        ' text-red-700 dark:text-red-500': formUtils.isValiedField(
          myForm,
          'firstName'
        ),
      }"
      >Nombre *</label
    >
    <input
      type="text"
      id="firstName"
      formControlName="firstName"
      class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary"
      [ngClass]="{
        ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500 ':
          formUtils.isValiedField(myForm, 'firstName'),
      }"
    />
    @if (formUtils.isValiedField(myForm, "firstName")) {
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "firstName")
        }}</span>
      </p>
    }
  </div>
  <div class="mb-6">
    <label
      for="lastName"
      class="block mb-2 text-sm font-medium"
      [ngClass]="{
        ' text-red-700 dark:text-red-500': formUtils.isValiedField(
          myForm,
          'lastName'
        ),
      }"
      >Apellidos *</label
    >
    <input
      type="text"
      id="lastName"
      formControlName="lastName"
      class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary"
      [ngClass]="{
        ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
          formUtils.isValiedField(myForm, 'lastName'),
      }"
    />
    @if (formUtils.isValiedField(myForm, "lastName")) {
      <p class="mt-2 text-sm text-red-600 dark:text-red-500">
        <span class="font-medium">{{
          formUtils.getFieldError(myForm, "lastName")
        }}</span>
      </p>
    }
  </div>
  <div class="grid gap-6 mb-6 md:grid-cols-2">
    <div>
      <label
        for="documentType"
        class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
        >Tipo de documento *</label
      >
      <select
        id="documentType"
        formControlName="documentType"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      >
        <option selected disabled>Seleccione</option>
        <option value="DNI">DNI</option>
        <option value="Pasaporte">Pasaporte</option>
      </select>
    </div>
    <div>
      <label
        for="documentNumber"
        class="block mb-2 text-sm font-medium"
        [ngClass]="{
          ' text-red-700 dark:text-red-500': formUtils.isValiedField(
            myForm,
            'documentNumber'
          ),
        }"
        >Número de documento *</label
      >
      <input
        type="number"
        id="documentNumber"
        formControlName="documentNumber"
        class="border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5 focus:border-primary"
        [ngClass]="{
          ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
            formUtils.isValiedField(myForm, 'documentNumber'),
        }"
      />
      @if (formUtils.isValiedField(myForm, "documentNumber")) {
        <p class="mt-2 text-sm text-red-600 dark:text-red-500">
          <span class="font-medium">{{
            formUtils.getFieldError(myForm, "documentNumber")
          }}</span>
        </p>
      }
    </div>
  </div>
  <div class="flex justify-end mt-6">
    <button
      type="button"
      (click)="onClose()"
      class="py-2.5 px-5 ms-3 mr-3 text-sm font-medium text-gray-900 focus:outline-none bg-orange-400 rounded-lg border border-orange-400 hover:bg-gray-200 hover:border-orange-300 hover:text-gray-600 focus:z-10 focus:ring-4 focus:ring-gray-100"
    >
      Cancelar
    </button>
    <button
      type="submit"
      [disabled]="myForm.invalid"
      (click)="onSave()"
      class="bg-primary py-2.5 px-5 ms-3 mr-3 text-sm font-medium text-white focus:outline-none rounded-lg border hover:bg-gray-200 hover:border-orange-300 hover:text-gray-600 focus:z-10 focus:ring-4 focus:ring-gray-100"
      [ngClass]="{ 'cursor-not-allowed': myForm.invalid }"
    >
      Guardar
    </button>
  </div>
</form>
