<tyn-hero [heroContent]="headerHero" />
<section class="bg-fondo3">
  <div class="py-10 container bg-fondo3">
    <div class="text-center px-10 mx-auto max-w-screen-xl">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none">
        Integraciones
      </h1>
      <p class="mb-6 text-lg text-gray-500 lg:mb-8">
        Integra tu tienda online, si tiene crea en cualquiera de estas
        plataformas.
      </p>
    </div>
    <tyn-carousel-logo />
  </div>
</section>
<section>
  <div class="container py-12">
    <div class="text-center px-10 mx-auto max-w-screen-xl">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none">
        ¿Como funciona ?
      </h1>
      <p class="mb-6 text-lg text-gray-500 lg:mb-8">
        todo lo que necesitas saber el funcionamiento de nuestro producto.
      </p>
    </div>
    <div class="flex-wrap items-center grid lg:grid-cols-12">
      <div class="flex-col grid col-span-4">
        <div class="flex mb-6 space-x-4">
          <div>
            <svg
              class="w-12 h-12 text-primary border font-black rounded-full text-sm text-center inline-flex items-center"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                d="M5 11.917 9.724 16.5 19 7.5"
              />
            </svg>
          </div>
          <div>
            <h4 class="mb-4 font-bold">Regístrate y vincula tu tienda</h4>
            <hr class="w-1/4 my-2 h-1 rounded-full text-primary bg-primary" />
            <span class="mb-6 text-lg text-gray-500 lg:mb-8">
              Crea tu cuenta y conecta tu tienda virtual a nuestra plataforma.
              En pocos pasos, podrás gestionar la atención al cliente y las
              interacciones en tiempo real de manera centralizada.
            </span>
          </div>
        </div>

        <div class="flex mb-6 space-x-4">
          <div>
            <svg
              class="w-12 h-12 text-primary border font-black rounded-full text-sm text-center inline-flex items-center"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                d="M5 11.917 9.724 16.5 19 7.5"
              />
            </svg>
          </div>
          <div>
            <h4 class="mb-4 font-bold">Configura tu perfil y disponibilidad</h4>
            <hr class="w-1/4 my-2 h-1 rounded-full text-primary bg-primary" />
            <span class="mb-6 text-lg text-gray-500 lg:mb-8">
              Personaliza tu perfil de vendedor, establece tus horarios de
              atención y organiza tu disponibilidad para que tus clientes puedan
              contactarte cuando lo necesiten, o bien planificar interacciones
              futuras.
            </span>
          </div>
        </div>

        <div class="flex mb-6 space-x-4">
          <div>
            <svg
              class="w-12 h-12 text-primary border font-black rounded-full text-sm text-center inline-flex items-center"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                d="M5 11.917 9.724 16.5 19 7.5"
              />
            </svg>
          </div>
          <div>
            <h4 class="mb-4 font-bold">
              Crea eventos de interacción para tu público
            </h4>
            <hr class="w-1/4 my-2 h-1 rounded-full text-primary bg-primary" />
            <span class="mb-6 text-lg text-gray-500 lg:mb-8">
              Organiza y publica eventos de interacción programados donde tus
              clientes pueden unirse para obtener información sobre tus
              productos, promociones o novedades. Estos eventos serán públicos y
              podrás atraer a más interesados a tu tienda.
            </span>
          </div>
        </div>
      </div>
      <div class="flex-col grid col-span-4">
        <img src="./assets/movil002.jpg" alt="" />
      </div>
      <div class="flex-col grid col-span-4">
        <div class="flex mb-6 space-x-4">
          <div>
            <svg
              class="w-12 h-12 text-primary border font-black rounded-full text-sm text-center inline-flex items-center"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                d="M5 11.917 9.724 16.5 19 7.5"
              />
            </svg>
          </div>
          <div>
            <h4 class="mb-4 font-bold">
              Recibe solicitudes de atención privada de clientes
            </h4>
            <hr class="w-1/4 my-2 h-1 rounded-full text-primary bg-primary" />
            <span class="mb-6 text-lg text-gray-500 lg:mb-8">
              Los clientes pueden enviarte consultas privadas en cualquier
              momento. Estas interacciones son confidenciales y estarán entre tú
              y el cliente, lo que garantiza un servicio personalizado y
              privado.
            </span>
          </div>
        </div>

        <div class="flex mb-6 space-x-4">
          <div>
            <svg
              class="w-12 h-12 text-primary border font-black rounded-full text-sm text-center inline-flex items-center"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                d="M5 11.917 9.724 16.5 19 7.5"
              />
            </svg>
          </div>
          <div>
            <h4 class="mb-4 font-bold">
              Inicia interacciones personalizadas con tus clientes
            </h4>
            <hr class="w-1/4 my-2 h-1 rounded-full text-primary bg-primary" />
            <span class="mb-6 text-lg text-gray-500 lg:mb-8">
              Responde de inmediato a las solicitudes de tus clientes, ya sea en
              tiempo real o durante los eventos programados. Puedes atender
              preguntas, resolver dudas o guiar a los compradores a través de un
              proceso de compra.
            </span>
          </div>
        </div>

        <div class="flex mb-6 space-x-4">
          <div>
            <svg
              class="w-12 h-12 text-primary border font-black rounded-full text-sm text-center inline-flex items-center"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="none"
              viewBox="0 0 24 24"
            >
              <path
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="3"
                d="M5 11.917 9.724 16.5 19 7.5"
              />
            </svg>
          </div>
          <div>
            <h4 class="mb-4 font-bold">
              Gestiona y da seguimiento a las interacciones
            </h4>
            <hr class="w-1/4 my-2 h-1 rounded-full text-primary bg-primary" />
            <span class="mb-6 text-lg text-gray-500 lg:mb-8">
              Mantén un historial completo de todas las interacciones privadas y
              públicas, lo que te permitirá seguir el progreso de cada cliente,
              resolver problemas recurrentes y ofrecer un servicio más eficiente
              en futuras interacciones.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="soluciones">
  <div class="container py-12">
    <div class="items-center justify-center flex">
      <img src="./assets/partnership007.jpg" alt="" />
    </div>
    <div class="my-10 text-center px-10 mx-auto max-w-screen-xl">
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none">
        Usa tu sala de compras
      </h1>
      <p class="mb-6 text-lg text-gray-500 lg:mb-8">
        Los usuarios que acceden a su sala de compra pueden realizar las
        siguentes acciones.
      </p>
    </div>
    <div class="pb-12">
      <div class="flex-wrap items-center grid lg:grid-cols-12">
        <div class="text-center px-5 col-span-4">
          <div class="items-center justify-center flex">
            <img src="./assets/Agregarproducto01.png" alt="" />
          </div>
          <div>
            <h4 class="my-4 font-bold">Agregar productos</h4>
            <span class="mb-6 text-lg text-gray-500 lg:mb-8">
              Los usuarios puede agregar cualquier producto de una tienda online
              a su sala de compras.
            </span>
          </div>
        </div>

        <div class="text-center px-5 col-span-4">
          <div class="items-center justify-center flex">
            <img src="./assets/solicitaralvendedor02.png" alt="" />
          </div>
          <div>
            <h4 class="my-4 font-bold">Solicitar al vendedor(a)</h4>
            <span class="mb-6 text-lg text-gray-500 lg:mb-8">
              Los usuarios pueden solicitar directamente al vendedor desde la
              sala de compras para ser atendidos.
            </span>
          </div>
        </div>

        <div class="text-center px-5 col-span-4">
          <div class="items-center justify-center flex">
            <img src="./assets/Enviarinvitacion03.png" alt="" />
          </div>
          <div>
            <h4 class="my-4 font-bold">Enviar invitación</h4>
            <span class="mb-6 text-lg text-gray-500 lg:mb-8">
              Los usuarios desde su sala de compras puede enviar invitacion a
              amigos ,familares y otros.
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="planes" class="bg-fondo3">
  <div class="container py-12">
    <div class="my-10 text-center px-10 mx-auto max-w-screen-xl">
      <h6 class="uppercase text-primary font-bold mb-2">Planes y precios</h6>
      <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none">
        Tynbiz esta pensado a la necesidad de tu tienda virtual
      </h1>
      <p class="mb-6 text-lg text-gray-500 lg:mb-8">
        Escoge tus planes a tu comodidad y impulsa tus ventas con Tynbiz, cambia
        de plan a medida que crescas, tus clientes de tu tienda online estaran
        satisfechos al usar tynbiz.
      </p>
    </div>
    <div class="pb-12">
      <div class="flex-wrap items-center grid lg:grid-cols-12">
        <div
          class="w-auto max-w-sm m-3 p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 text-center px-5 col-span-4"
        >
          <div class="p-12">
            <div
              class="justify-center flex items-baseline text-gray-900 dark:text-white"
            >
              <span class="text-3xl font-semibold">S/</span>
              <span class="text-5xl font-extrabold tracking-tight"> 0.40</span>
              <span
                class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400"
                >/uso</span
              >
            </div>
            <div>
              <h4 class="my-4 font-bold">Plan x solo uso</h4>
              <span class="mb-6 text-lg text-gray-500 lg:mb-8">
                1 mes de plan gratuito
              </span>
            </div>
          </div>
          <button type="button" class="btn-primary rounded-lg px-5 py-2.5">
            Prueba gratuita
          </button>
        </div>

        <div
          class="w-auto max-w-sm m-3 p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 text-center px-5 col-span-4"
        >
          <div class="p-12">
            <div
              class="justify-center flex items-baseline text-gray-900 dark:text-white"
            >
              <span class="text-3xl font-semibold">S/</span>
              <span class="text-5xl font-extrabold tracking-tight"> 0.40</span>
              <span
                class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400"
                >/uso</span
              >
            </div>
            <div>
              <h4 class="my-4 font-bold">Plan x solo uso</h4>
              <span class="mb-6 text-lg text-gray-500 lg:mb-8">
                1 mes de plan gratuito
              </span>
            </div>
          </div>
          <button type="button" class="btn-primary rounded-lg px-5 py-2.5">
            Prueba gratuita
          </button>
        </div>

        <div
          class="w-auto max-w-sm m-3 p-4 bg-white border border-gray-200 rounded-lg shadow-sm sm:p-8 text-center px-5 col-span-4"
        >
          <div class="p-12">
            <div
              class="justify-center flex items-baseline text-gray-900 dark:text-white"
            >
              <span class="text-3xl font-semibold">S/</span>
              <span class="text-5xl font-extrabold tracking-tight"> 0.40</span>
              <span
                class="ms-1 text-xl font-normal text-gray-500 dark:text-gray-400"
                >/uso</span
              >
            </div>
            <div>
              <h4 class="my-4 font-bold">Plan x solo uso</h4>
              <span class="mb-6 text-lg text-gray-500 lg:mb-8">
                1 mes de plan gratuito
              </span>
            </div>
          </div>
          <button type="button" class="btn-primary rounded-lg px-5 py-2.5">
            Prueba gratuita
          </button>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container py-12">
    <div>
      <div class="my-10 text-center px-10 mx-auto max-w-screen-xl">
        <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none">
          Nuestro equipo
        </h1>
      </div>
      <div>
        <!-- cards de colaboradores -->
      </div>
    </div>
  </div>
</section>

<section class="bg-fondo3">
  <div class="container">
    <div class="flex-wrap items-center grid lg:grid-cols-12">
      <div class="col-span-6">
        <div class="my-10 px-10 mx-auto max-w-screen-xl">
          <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none">
            Tienes una pregunta? Consulta FAQ
          </h1>
        </div>
      </div>
      <div class="col-span-6">
        <div
          id="accordion-color"
          data-accordion="collapse"
          data-active-classes="bg-blue-100 dark:bg-gray-800 text-blue-600 dark:text-white"
        >
          <h2 id="accordion-color-heading-1">
            <button
              type="button"
              class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 rounded-t-xl focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3"
              data-accordion-target="#accordion-color-body-1"
              aria-expanded="true"
              aria-controls="accordion-color-body-1"
            >
              <span>What is Flowbite?</span>
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"
                />
              </svg>
            </button>
          </h2>
          <div
            id="accordion-color-body-1"
            class="hidden"
            aria-labelledby="accordion-color-heading-1"
          >
            <div
              class="p-5 border border-b-0 border-gray-200 dark:border-gray-700 dark:bg-gray-900"
            >
              <p class="mb-2 text-gray-500 dark:text-gray-400">
                Flowbite is an open-source library of interactive components
                built on top of Tailwind CSS including buttons, dropdowns,
                modals, navbars, and more.
              </p>
              <p class="text-gray-500 dark:text-gray-400">
                Check out this guide to learn how to
                <a
                  href="/docs/getting-started/introduction/"
                  class="text-blue-600 dark:text-blue-500 hover:underline"
                  >get started</a
                >
                and start developing websites even faster with components on top
                of Tailwind CSS.
              </p>
            </div>
          </div>
          <h2 id="accordion-color-heading-2">
            <button
              type="button"
              class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-b-0 border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3"
              data-accordion-target="#accordion-color-body-2"
              aria-expanded="false"
              aria-controls="accordion-color-body-2"
            >
              <span>Is there a Figma file available?</span>
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"
                />
              </svg>
            </button>
          </h2>
          <div
            id="accordion-color-body-2"
            class="hidden"
            aria-labelledby="accordion-color-heading-2"
          >
            <div
              class="p-5 border border-b-0 border-gray-200 dark:border-gray-700"
            >
              <p class="mb-2 text-gray-500 dark:text-gray-400">
                Flowbite is first conceptualized and designed using the Figma
                software so everything you see in the library has a design
                equivalent in our Figma file.
              </p>
              <p class="text-gray-500 dark:text-gray-400">
                Check out the
                <a
                  href="https://flowbite.com/figma/"
                  class="text-blue-600 dark:text-blue-500 hover:underline"
                  >Figma design system</a
                >
                based on the utility classes from Tailwind CSS and components
                from Flowbite.
              </p>
            </div>
          </div>
          <h2 id="accordion-color-heading-3">
            <button
              type="button"
              class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-500 border border-gray-200 focus:ring-4 focus:ring-blue-200 dark:focus:ring-blue-800 dark:border-gray-700 dark:text-gray-400 hover:bg-blue-100 dark:hover:bg-gray-800 gap-3"
              data-accordion-target="#accordion-color-body-3"
              aria-expanded="false"
              aria-controls="accordion-color-body-3"
            >
              <span
                >What are the differences between Flowbite and Tailwind
                UI?</span
              >
              <svg
                data-accordion-icon
                class="w-3 h-3 rotate-180 shrink-0"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M9 5 5 1 1 5"
                />
              </svg>
            </button>
          </h2>
          <div
            id="accordion-color-body-3"
            class="hidden"
            aria-labelledby="accordion-color-heading-3"
          >
            <div
              class="p-5 border border-t-0 border-gray-200 dark:border-gray-700"
            >
              <p class="mb-2 text-gray-500 dark:text-gray-400">
                The main difference is that the core components from Flowbite
                are open source under the MIT license, whereas Tailwind UI is a
                paid product. Another difference is that Flowbite relies on
                smaller and standalone components, whereas Tailwind UI offers
                sections of pages.
              </p>
              <p class="mb-2 text-gray-500 dark:text-gray-400">
                However, we actually recommend using both Flowbite, Flowbite
                Pro, and even Tailwind UI as there is no technical reason
                stopping you from using the best of two worlds.
              </p>
              <p class="mb-2 text-gray-500 dark:text-gray-400">
                Learn more about these technologies:
              </p>
              <ul class="ps-5 text-gray-500 list-disc dark:text-gray-400">
                <li>
                  <a
                    href="https://flowbite.com/pro/"
                    class="text-blue-600 dark:text-blue-500 hover:underline"
                    >Flowbite Pro</a
                  >
                </li>
                <li>
                  <a
                    href="https://tailwindui.com/"
                    rel="nofollow"
                    class="text-blue-600 dark:text-blue-500 hover:underline"
                    >Tailwind UI</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
