<div class="md:flex md:p-16 sm:px-0">
  <ul
    class="flex-column space-y space-y-4 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0 pl-[4rem]"
  >
    <li>
      <a
        class="inline-flex items-center px-10 py-2 text-white bg-blue-700 rounded-lg active w-full dark:bg-blue-600"
        aria-current="page"
      >
        Empezar prueba gratis
      </a>
    </li>
    <li>
      <a
        class="inline-flex items-center px-10 py-2 rounded-lg hover:text-gray-900 bg-gray-50 hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white"
      >
        Solicitar una demo
      </a>
    </li>
  </ul>
  <div
    class="p-16 bg-gray-50 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full"
  >
    <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">
      <div class="grid gap-6 mb-6 md:grid-cols-2">
        <!-- name -->
        <div>
          <label
            for="error"
            class="block mb-2 text-sm font-medium"
            [ngClass]="{
              ' text-red-700 dark:text-red-500': formUtils.isValiedField(
                myForm,
                'name'
              )
            }"
            >Nombre</label
          >
          <input
            type="text"
            id="error"
            formControlName="name"
            class="bg-red-50 border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5"
            [ngClass]="{
              ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                formUtils.isValiedField(myForm, 'name')
            }"
          />
          @if(formUtils.isValiedField(myForm,'name')){
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            <span class="font-medium">{{
              formUtils.getFieldError(myForm, "name")
            }}</span>
          </p>
          }
        </div>
        <!-- last_name -->
        <div>
          <label
            for="lastName"
            class="block mb-2 text-sm font-medium"
            [ngClass]="{
              ' text-red-700 dark:text-red-500': formUtils.isValiedField(
                myForm,
                'lastName'
              )
            }"
            >Apellidos</label
          >
          <input
            type="text"
            id="lastName"
            formControlName="lastName"
            class="bg-red-50 border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5"
            [ngClass]="{
              ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                formUtils.isValiedField(myForm, 'lastName')
            }"
          />
          @if(formUtils.isValiedField(myForm,'lastName')){
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            <span class="font-medium">{{
              formUtils.getFieldError(myForm, "lastName")
            }}</span>
          </p>
          }
        </div>
        <!-- email -->
        <div>
          <label
            for="email"
            class="block mb-2 text-sm font-medium"
            [ngClass]="{
              ' text-red-700 dark:text-red-500': formUtils.isValiedField(
                myForm,
                'email'
              )
            }"
            >Correo electronico</label
          >
          <input
            type="text"
            id="email"
            formControlName="email"
            class="bg-red-50 border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5"
            [ngClass]="{
              ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                formUtils.isValiedField(myForm, 'email')
            }"
          />
          @if(formUtils.isValiedField(myForm,'email')){
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            <span class="font-medium">{{
              formUtils.getFieldError(myForm, "email")
            }}</span>
          </p>
          }
        </div>
        <div>
          <label
            for="phone"
            class="block mb-2 text-sm font-medium"
            [ngClass]="{
              ' text-red-700 dark:text-red-500': formUtils.isValiedField(
                myForm,
                'phone'
              )
            }"
            >N° celular</label
          >
          <input
            type="number"
            id="phone"
            formControlName="phone"
            class="bg-red-50 border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5"
            [ngClass]="{
              ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                formUtils.isValiedField(myForm, 'phone')
            }"
          />
          @if(formUtils.isValiedField(myForm,'phone')){
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            <span class="font-medium">{{
              formUtils.getFieldError(myForm, "phone")
            }}</span>
          </p>
          }
        </div>
        <div>
          <label
            for="onlyneNameStore"
            class="block mb-2 text-sm font-medium"
            [ngClass]="{
              ' text-red-700 dark:text-red-500': formUtils.isValiedField(
                myForm,
                'onlyneNameStore'
              )
            }"
            >Nombre de la tienda online</label
          >
          <input
            type="text"
            id="onlyneNameStore"
            formControlName="onlyneNameStore"
            class="bg-red-50 border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5"
            [ngClass]="{
              ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                formUtils.isValiedField(myForm, 'onlyneNameStore')
            }"
          />
          @if(formUtils.isValiedField(myForm,'onlyneNameStore')){
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            <span class="font-medium">{{
              formUtils.getFieldError(myForm, "onlyneNameStore")
            }}</span>
          </p>
          }
        </div>
        <div>
          <label
            for="onlyneDirecctionStore"
            class="block mb-2 text-sm font-medium"
            [ngClass]="{
              ' text-red-700 dark:text-red-500': formUtils.isValiedField(
                myForm,
                'onlyneDirecctionStore'
              )
            }"
            >Enlace de la tienda</label
          >
          <input
            type="text"
            id="onlyneDirecctionStore"
            formControlName="onlyneDirecctionStore"
            class="bg-red-50 border text-sm rounded-lg dark:bg-gray-700 block w-full p-2.5"
            [ngClass]="{
              ' border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500':
                formUtils.isValiedField(myForm, 'onlyneDirecctionStore')
            }"
          />
          @if(formUtils.isValiedField(myForm,'onlyneDirecctionStore')){
          <p class="mt-2 text-sm text-red-600 dark:text-red-500">
            <span class="font-medium">{{
              formUtils.getFieldError(myForm, "onlyneDirecctionStore")
            }}</span>
          </p>
          }
        </div>
        <div>
          <label
            for="message"
            class="block mb-2 text-sm font-medium"
            [ngClass]="{
              ' text-red-700 dark:text-red-500': formUtils.isValiedField(
                myForm,
                'message'
              )
            }"
            >Mensaje</label
          >
          <textarea
            id="message"
            rows="4"
            class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            formControlName="message"
          ></textarea>
        </div>
      </div>
      <button
        type="submit"
        [disabled]="!myForm.valid"
        class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
      >
        Submit
      </button>
    </form>
  </div>
</div>
