<div class="md:flex md:p-16 sm:px-0 bg-fondo3 py-16">
  <div
    class="md:flex flex-col md:w-full xl:w-1/2 lg:w-1/3 rounded-lg p-6 text-center m-4"
  >
    <ul
      class="flex-column space-y space-y-4 text-sm font-medium text-gray-500 dark:text-gray-400"
    >
      <li>
        <a
          [routerLink]="['/evidence/proof']"
          class="inline-flex items-center px-10 py-3 text-white bg-primario rounded-lg active w-full dark:bg-gray-500"
          aria-current="page"
        >
          Empezar prueba gratis
        </a>
      </li>
      <li>
        <a
          [routerLink]="['/evidence/demo']"
          class="inline-flex items-center px-10 py-3 rounded-lg hover:text-gray-900 bg-white hover:bg-gray-100 w-full dark:bg-gray-800 dark:hover:bg-gray-700 dark:hover:text-white"
        >
          Solicitar una demo
        </a>
      </li>
    </ul>
  </div>

  <div
    class="p-6 md:p-8 m-6 xl:w-1/2 lg:w-2/3 bg-white text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg md:w-full"
  >
    <router-outlet />
  </div>
</div>
